# This is a basic workflow to help you get started with Actions

name: PR Validation

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    defaults:
            run:
                working-directory: './solutions/devsprint-brq-testes-android-1'

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.3
        
      - name: Prepare cache
        uses: actions/cache@v2
        with:
          path: |
              ~/.gradle/caches/modules-*
              ~/.gradle/caches/jars-*
              ~/.gradle/caches/build-cache-*
          key: ${{ runner.os }}-gradle-caches-${{ hashFiles('**/*.gradle', '**/*.gradle.kts', '**/gradle/wrapper/gradle-wrapper.properties') }}

      - name: Setup Java JDK
        uses: actions/setup-java@v2.3.1
        with:
          java-version: 11
          distribution: adopt
      
      - name: Run Test
        run: ./gradlew testDevDebugUnitTest
